torch
torchvision
gymnasium
ale-py
cloudpickle
Farama-Notifications
filelock
Jinja2
MarkupSafe
matplotlib
numpy
opencv-python
packaging
pillow
setuptools
Shimmy
sympy
typing_extensions
autorom[accept-rom-license]
tqdm
